.columnRuler{
    margin-top: 23px;
}
.alignLeft{
    float: left;
    font-weight: bold;
}
.alignLeftNotStrong{
    float: left;
}
.alignRight{
    float: right;
}
.exTx{
   background-color: lightgray;
   border-radius: 3px;
}